.container {
    width: 100%;
    display: grid;
    place-items: center;
}

.tasks_container {
    width: 46vw;
    background-color: lightgray;
    border-radius: 6px;
    padding: 10px;
}

.task {
    display: flex;
    width: 100%;
    margin-bottom: 6px;
    justify-content: center;
    align-items: center;
}

.task span {
    width: 80%;
    max-width: 80%;
    margin-right: 10px;
}

.button_group {
    display: inherit;
}

.button_icon {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.button_icon:active {
    opacity: .8;
}